* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_13 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_14 {
  width: 100%;
  height: 53px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v9_15 {
  width: 100%;
  height: 162px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 0px;
  overflow: hidden;
}
.v9_16 {
  width: 100%;
  height: 189px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 0px;
  overflow: hidden;
}
.v9_17 {
  width: 100%;
  height: 191px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 589px;
  left: 0px;
  overflow: hidden;
}
.v9_18 {
  width: 100%;
  height: 180px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 844px;
  left: 0px;
  overflow: hidden;
}
.v22_2 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 1185px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
