<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>Index</title>
</head>

<body><div class="v6_5">
    <div class="v6_6"></div>
    <a class="v6_8" href="instructions/">instructions</a>
    <span class="v6_9">rules</span>
    <span class="v6_12">uva</span>
    <div class="v6_14"></div>
    <a class="v6_15" href="gamepage/">start game</a>
    <div class="v7_2"></div></div>
</body>
</html>